@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {
    <script src="~/lib/angular/angular.min.js"></script>
    <script src="~/lib/angular-route/angular-route.min.js"></script>
    <script src="~/js/app-flights.js"></script>
    <script src="~/js/fuelController.js"></script>
    <script src="~/js/flightsController.js"></script>
    <script src="~/js/flightDetailsController.js"></script>
}


<div class="row" ng-app="app-flights">
    <div ng-view></div>
</div>