<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?"></script>

@{
    ViewData["Title"] = "Home Page";
}

<br />
<div id="map_canvas" style="width: 640px; height: 480px;">
</div>

<script type="text/javascript">
    function initialize() {
        var latlng = new google.maps.LatLng(40.716948, -74.003563);
        var options = { zoom: 14, center: latlng,
		mapTypeId: google.maps.MapTypeId.ROADMAP};
        var map = new google.maps.Map(document.getElementById
			("map_canvas"), options);
    }

    $(function () {
        initialize();
    });
</script> 